
body{
    background: url(../images/stripes-light/stripes-light.png);
}

#title{
    font-size: 7em;
    font-family: 'Amatic SC', cursive;
    padding-bottom: 18px;
    padding-top: 28px;
    text-align: center;
}

#form-title{
    font-family: 'McLaren', cursive;
    text-align: center;
    font-size: 1.2em;
}


#gif-form{
    text-align: center;
}

#gif-input{
    height: 27px;
    width: 200px;
}

#add-gif{
    height: 32px;
    font-size: 1em;
    padding-left: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 12px;
    background:rgb(213, 147, 33);
    color:  rgb(250, 248, 248);
    font-family: 'Alegreya SC', serif;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;  
    border: none;
}

#add-gif:hover{
    background:rgb(208, 172, 111);
}

#gif-input, #add-gif{
    margin-top: 18px;
    margin-bottom: 25px;
}

.btn{
    padding: 10px;
     margin-left: 10px;
     margin-bottom: 10px;  
    font-size: 1em;
    background:rgb(52, 95, 169);
    color:  rgb(250, 248, 248);
    font-family: 'Alegreya SC', serif;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
}

.btn:hover{
    background:rgb(90, 126, 187);
}

.btn:focus, #add-gif:focus{
   outline: 0;
}

#button-view{
    text-align: center;
    margin-bottom: 30px;
}

#gif-view{
    text-align: center;
}

.image-container{
    display:inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.gifImage{
    border-radius: 2px;
}

.rating{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
}